@model IntroducaoAspNetCoreMvc.Models.ClienteModel

@{
    ViewData["Title"] = "Novo Cliente";
}

<h1>Inserir novo Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoEmail" class="control-label"></label>
                <input asp-for="EnderecoEmail" class="form-control" />
                <span asp-validation-for="EnderecoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Novo cliente" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Listar">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
